* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Sarabun', sans-serif;
}
h3{
  font-weight: bolder;
}

:root {
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --offWhite: #f7f7f7;
}
.ScrollTop{
  z-index: 2 !important;
}
.ScrollTop:hover{
  background-color: #242222 !important;
}
.section{
  height: 300px;
}
.p1{
  border-bottom: 0.3rem solid #f7f7f7;
  margin: 1rem 40%;
}
.p2{
  border-bottom: 0.3rem solid #00275a;
  margin: 0 30% 4rem 30%;
}
.pointer{
  cursor: pointer;
}
a{
  color: #c7c5c5;
}
a:hover{
  text-decoration: none;
}
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.nav-grid{
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  /* background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.342)); */
  background: #242222;
  /* border-bottom: 0.1rem solid #d8d8d8; */
  position: fixed;
  width: 100%;
  z-index: 1;
  }
  .nav-flex{
      position: fixed;
  }
.logo{
  width: 120px;
  height: 60px;
}
.nav-logo{
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;  
  list-style-type: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  color: #f7f7f7;
  text-decoration: none !important;
  transition: all 0.5s linear;
} 
.active {
  background: #242222;
  left: 0 !important;
  transition: all 0.5s ease;
  z-index: 1;
  text-align: center;

}
.menu-icon{
  display: none;
}
.title-img-hover:hover{
  opacity: 1;
}
.title-img-hover{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(255,130,255);
  cursor: pointer;
}

ul.nav-list li a:hover{
  color: rgb(247, 247, 247);
  transition: all 0.3s  ;
  /* border-bottom: 0.2rem solid #f7f7f7; */
}

.title-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-top: 4.7rem;
}
.title-grid img{
  opacity: 1;
  width: 100%;
  height: 630px;
  object-fit: cover;
}
.title-slider{
  position: relative;
}

.title-text{
  position: absolute;
  bottom:1rem;
  right:1rem; 
  text-align: center; 
}
.title-text-back{
  background-color: aqua;
  opacity: 0;
}
.title-text-back:hover{
  opacity: 1;
}
.title{
  position: absolute;
  top: 50%;
  left: 22%;
  text-align: center;
}
.title,h3 p{
  color: #ffffff;
  text-transform: uppercase;
}
.title h3{
  font-size: 40px;
}
.title p{
font-size: 30px;
}
.title-content div{
  position: relative;
  color: #f7f7f7;
  text-transform: uppercase;

}


.title-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.title-content div img{
  height: 315px;
  object-fit: cover;
}

.banner{
  height: 400px;
  width: 100%;
  position: relative;

}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.banner-navigation ul{
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  font-size: 16px;
  cursor: pointer;
  list-style: none;
  font-weight: bold;
  height: 50px;
  background-color: #00275a;
  transition: all .05s linear;
}
.banner-navigation ul li{
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  font-weight: 900;
  text-align: center;
  position: relative;
  padding-top: 0.8rem;
  color: #f7f7f7;
  text-transform: capitalize;
}
.banner-navigation ul li:hover{
  background-color: #ffffff;
  transition: all .05s linear;
  border-top-left-radius: 50px 20px;
  border-top-right-radius: 50px 20px;
  color: #000000;
}
.banner-navigation ul .active{
  background-color: rgb(31, 67, 168);
}
.banner-title{
  position: absolute;
  top: 40%;
  right: 50%;
  left: 43%;
  text-transform: capitalize;
  font-weight: bold;
  font-family: fantasy;
  color: #f7f7f7;
  font-size: 50px;
  width: 20%;
}
.content{
  padding: 10rem  0;
  text-align: center;
  background-color: #ffffff;
}

.content h2{
  padding-top: 20%;
}
.content-grid div{
  text-align: justify;
}
.content-grid{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.content-grid div:nth-child(2){
  padding-right: 1rem;
}
.product{
  padding: 10rem  0;
  text-align: center;
  background-color: #00275a;
}
.product h3{
  color: #ffffff;
  margin: 0 40% 0 40%;
}

.product-grid{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-gap: 1rem; */
  color: #f7f7f7;
}
.product-grid img{
  cursor: zoom-in;
}
.product-grid p{
  margin: 20% 5%;
  text-align: justify;
  letter-spacing: 3px;
  text-indent: 50px;
}
.product-button{
  margin-top: 4rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border:none;
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
  background-color: #ffffff;
  transition: all 0.3s linear;
  color: #242222;
}
.product-button:hover{
  background-color: #242222;
  color: #ffffff;
}
.product-grid{
  object-fit: cover;
  width: 99%;
}
.portfolio{
  padding: 10rem  0;
  text-align: center;
  background-color: #ffffff;
}
.brand-potfolio{
  display: flex;
  justify-content: space-around;
}
.porfolio-p{
  border-bottom: 0.3rem solid #00275a;
  margin: 0  32% 4rem 32%;
}
.portfolio-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.footer{
  border-top:0.1rem solid #00275a ;
  background-color: #00275a;
  color: #f7f7f7;
  text-transform: inherit;

}
.footer-grid{
  display: flex;
  justify-content: stretch;
}
.footer-logo{
  width: 100px;
  margin-top: 0.8rem;
}
.footer-list ul li{
  list-style: none;
  text-align: left;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

/* Medail */
@media screen and (max-width: 960px) {
  .nav-active{
    background: #242222 !important;
    left: 0 !important;
    transition: all 0.5s ease;
  }
  .product-grid{
    display: grid;
    grid-template-columns: 1fr !important;
  }
   .product-grid div:nth-child(1){
    grid-row-start:    1;
    grid-row-end:      2;
  }
  .product-grid div:nth-child(4){
    grid-row-start:    3;
    grid-row-end:      4;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
    /* transform: translate(-100%, 60%); */
    font-size: 3.5rem;
    color: #d8d8d8;
    cursor: pointer;
  }
  .title-grid{
    grid-template-columns: 1fr;
    padding-top: 0 ;
  }
  .title-grid img{
      height: 682px ;
  }
  .nav-grid{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.342)); ;
  }
  .active{
    background:linear-gradient(rgba(0, 0,0, 1.5), rgba(0, 0, 0, 10)); ;
  }
  .nav-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 76px;
    left: -100%;
    opacity: 1;
  }
  .nav-list a:hover{
    color: #ffffff !important;
    font-size: 50px;

  }
  .nav-list li{
    display: contents;
  } 
  .active {
    background: #242222;
  }
  .title{
    left: 33%;
    right: 30%;
  }
  .title h3{
    font-size: 30px;
  }
  .title p {
    font-size: 20px;
  }

 
}
@media screen and (max-width: 840px) {
  .title-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .title-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .title-content div img{
    height: 100%;
  }

}
@media screen and (max-width: 520px) {
  .title{
    left: 23%;
    right: 20%;
  }
  .title h3{
    font-size: 30px;
  }
  .title p {
    font-size: 20px;
  }
}